@import "tailwindcss";

@theme {
    --color-greennight: #111813;
    --color-greennight-light: #19241C;
    --color-greennight-lighter: #213025;
    --color-greennight-lightest: #445F4C;

    --color-wine: #9c0d38;
    --color-wine-light: #bd0f43;


  }